.cover {
  max-width: 100%;
  min-height: 740px;
  margin: 0 auto 92px auto;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1279px) {

  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {

  .cover {
    min-height: 560px;
  }
}

@media screen and (max-width: 900px) {

  .cover {
    margin-bottom: 88px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {

  .cover {
    margin-bottom: 64px;
    min-height: 200px;
  }
}